<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Video Player</title>
</head>
<body>
    <p>index:<b>{{video_index}}</b>  page:<b>{{page}}</b></p>
    <video width="640" height="360" controls autoplay>
        <source src= "{{ link }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>

<body>
    <form action="/reels" method="post">
        <input type="hidden" name="back">
        <button type="submit">Back</button>
    </form>

    <form action="/reels" method="post">
        <input type="hidden" name="next">
        <button type="submit">Next</button>
    </form>
</body>

</html>
